@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --black: #000000;
  --white: #fff;
  --dark-sky-blue: #0D74B1;
  --pink: #D62F74;
  --golden-yellow: #C68E00;
  --yellow: #FFCA4A;
  --royal-blue: #4C57E6; 
  --gray: #444444;
}
body {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: var(--black);
  font-family: "Poppins", sans-serif;
}
a {
  transition: all .3s ease-in-out;
}
a:hover {
  text-decoration: none;
}
/* colors */
.bg-dark-sky-blue {
  background-color: var(--dark-sky-blue);
}

/* Global fonts  */
.font-lexend {
  font-family: "Lexend", sans-serif;
}
.font-normal {
  font-size: 16px;
  line-height: 20px;
}

/* Header */
.site-header:before {
  content: "";
  border-radius: 1307.203px;
  background: radial-gradient(50% 50% at 50% 50%, #CEF2FF 0%, #FEFEFE 100%);
  width: 50%;
  height: 440px;
  position: absolute;
  right: 0;
  top: -80px;
  z-index: -1;
}
.navbar-brand img {
  max-width: 515px;
}
.top-menu {
  gap: 30px;
}
.top-menu a {
  color: var(--black);
  font-size: 20px;
  line-height: 29px;
}
.main-menu .navbar-nav {
  gap: 30px;
}
.main-menu .navbar-nav a {
  color: var(--black);
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}
.main-menu .mega-menu-item > a {
  border-bottom: 3px solid transparent;
}
.main-menu .mega-current-menu-item > a, .main-menu .mega-menu-item > a:hover {
  border-color: var(--dark-sky-blue);
}
.top-header-button {
  display: inline-block;
  text-decoration: none;
  background-color: var(--dark-sky-blue);
  color: var(--white);
  padding: 19px 23px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
.top-header-button:hover {
  background-color: var(--pink);
  color: var(--white);
}
.search-button a {
  border-radius: 0 11.466px 11.466px 11.466px;
  background-color: var(--pink);
  height: 62px;
  width: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-menu, .primary-bar {
  background-image: url(../../images/header-border.svg);
  background-repeat: repeat-x;
  background-position: left bottom;
}
.main-menu {
  padding: 26px 0 28px;
}
.primary-bar {
  padding-bottom: 32px;
}

/* Footer */
.site-footer {
  padding: 32px 0 170px;
}
.footer-white-button, .small-white-button {
  display: inline-block;
  border-radius: 10px;
  border: 1px solid #B6B6B6;
  background-color: var(--white);
  color: var(--gray);
  font-weight: 700;
  text-decoration: none;
}
.footer-white-button:hover, .small-white-button:hover {
  background-color: var(--pink);
  color: var(--white);
  border-color: var(--pink);
}
.footer-white-button {
  padding: 6px 25px;
  font-size: 18px;
  line-height: 45px;
}
.small-white-button {
  padding: 10px;
  font-size: 16px;
  line-height: 18px;
}
.footer-menu {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
}
.footer-menu a {
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
  line-height: 30px;
}

/* Media Queries  */
@media only screen and (max-width: 991px) {
 
}
@media only screen and (min-width: 1300px) {
  .container {
    max-width: 1240px;
  }
}
@media only screen and (min-width: 1620px) {
  .main-menu .navbar-nav {
    gap: 70px;
  }
  .main-menu .navbar-nav a {
    font-size: 24px;
    line-height: 36px;
  }
}
@media only screen and (min-width: 1900px) {
  .container {
    max-width: 1600px;
  }
}