@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Gloss And Bloom';
    src: url('../fonts/GlossAndBloom.woff2') format('woff2'),
        url('../fonts/GlossAndBloom.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
  --black: #000000;
  --black-100: #010101;
  --white: #fff;
  --light-blue: #DCEFF9;
  --blue: #0D74B1;
  --teal: #00BEDE;
  --purple: #4D57E6;
  --yellow: #F2BD3E;
  --light-yellow: #FFCA4A;
  --dark-blue: #2857A6;
  --pink: #D62F74;
  --golden-yellow: #C68E00;
  --royal-blue: #4C57E6; 
  --indigo-blue: #4D57E6;
  --gray: #444444;
  --cyan-blue: #00B2D0;
}
body {
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  color: var(--black);
  font-family: "Poppins", sans-serif;
}
a {
  color: var(--black);
  transition: all .3s ease-in-out;
}
a:hover {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  font-weight: 700;
}

/* colors */
.bg-blue {
  background-color: var(--blue);
}
.bg-light-blue {
  background-color: var(--light-blue);
}
.bg-teal {
  background-color: var(--teal);
}
.bg-purple {
  background-color: var(--purple);
}
.bg-gradient-yellow {
  background: linear-gradient(180deg, rgba(255, 202, 74, 0.10) 0%, #FFF 47.12%);
}
.bg-light-yellow {
  background-color: var(--light-yellow);
}
.text-blue {
  color: var(--blue);
}
.text-pink {
  color: var(--pink);
}
.text-black-100 {
  color: var(--black-100);
}
/* Global fonts  */
.font-gloss-bloom {
  font-family: 'Gloss And Bloom';
}
.font-lexend {
  font-family: "Lexend", sans-serif;
}
h1, .font-xl {
  font-size: 30px;
  line-height: 45px;
}
h2, .font-medium {
  font-size: 25px;
  line-height: 30px;
}
h3, .font-xm {
  font-size: 25px;
  line-height: 30px;
}
h4, .font-regular {
  font-size: 17px;
  line-height: 35px;
}
h5, .font-xs-medium {
  font-size: 17px;
  line-height: 25px;
}
h6, .font-normal {
  font-size: 16px;
  line-height: 24px;
}
.font-xsm, .disclaimer-fonts {
  font-size: 14px;
  line-height: 24px;
}

/*Global*/
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alignright {
  float: right;
  padding-bottom: 5px;
}
.alignleft {
  float: left;
  padding-bottom: 5px;
}
img.alignleft {
    padding-top: 10px;
}
.wysiwyg-content :last-child, .copyright-content :last-child {
  margin-bottom: 0;
}

.slick-slider .slick-arrow {
  opacity: 1;
  font-size: 0;
  font-weight: 900;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  outline: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  color: #193154;
}
.slick-slider .slick-prev {
  left: 0;
}
.slick-slider .slick-next {
  right: 0;
}
.slick-slider .slick-prev:before, .slick-slider .slick-next:before {
  font-family: "Font Awesome 6 Pro";
  font-size: 32px;
}
.slick-slider .slick-prev:before {
  content: "\f053";
}
.slick-slider .slick-next:before {
  content: "\f054";
}

/* Wysiwyg Button */

.wysiwyg-button, .site-button {
  font-size: 17px;
  line-height: 18px;
  padding: 20px 24px;
  margin-top: 10px;
}
.wysiwyg-button, .event-button, .site-button {
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  background-color: var(--purple);
  color: var(--white);
}
.wysiwyg-button:hover, .event-button:hover, .site-button:hover {
  background-color: var(--gray);
}
.bg-blue .wysiwyg-button, .bg-purple .wysiwyg-button,
.bg-blue .event-button, .bg-purple .event-button,
.bg-blue .site-button, .bg-purple .site-button {
  background-color: var(--yellow);
  color: var(--black-100);
}
.bg-teal .wysiwyg-button, .bg-teal .event-button, .bg-teal .site-button {
  background-color: var(--pink);
  color: var(--white);
}
.bg-blue .wysiwyg-button:hover, .bg-purple .wysiwyg-button:hover,
.bg-blue .event-button:hover, .bg-purple .event-button:hover,
.bg-blue .site-button:hover, .bg-purple .site-button:hover {
  background-color: var(--white);
  color: var(--black-100);
}
.bg-light-blue .wysiwyg-button, .bg-gradient-yellow .wysiwyg-button,
.bg-light-blue .event-button, .bg-gradient-yellow .event-button,
.bg-light-blue .site-button, .bg-gradient-yellow .site-button {
  background-color: var(--purple);
  color: var(--white);
  border: 1px solid #B6B6B6;
}
.bg-light-blue .wysiwyg-button:hover, .bg-teal .wysiwyg-button:hover, .bg-gradient-yellow .wysiwyg-button:hover,
.bg-light-blue .event-button:hover, .bg-teal .event-button:hover, .bg-gradient-yellow .event-button:hover,
.bg-light-blue .site-button:hover, .bg-teal .site-button:hover, .bg-gradient-yellow .site-button:hover {
  background-color: var(--black-100);
  color: var(--white);
  border-color: var(--black-100);
}
.bg-light-yellow .wysiwyg-button, .bg-light-yellow .event-button, .bg-light-yellow .site-button {
  background-color: var(--gray);
  color: var(--white);
}
.bg-light-yellow .wysiwyg-button:hover, .bg-light-yellow .event-button:hover, .bg-light-yellow .site-button:hover {
  background-color: var(--black-100);
  color: var(--white);
}

/* Header */
.site-header {
  padding-top: 50px;
}
.site-header:before {
  content: "";
  border-radius: 1307.203px;
  background: radial-gradient(50% 50% at 50% 50%, #CEF2FF 0%, #FEFEFE 100%);
  position: absolute;
  z-index: -1;
  right: 0;
  top: -155%;
  z-index: -1;
  width: 438.447px;
  height: 1307.203px;
  transform: rotate(-86.949deg);
}
.navbar-brand img {
  max-width: 515px;
}
.top-menu a {
  color: var(--black);
  font-size: 20px;
  line-height: 29px;
}
.main-menu .navbar-nav {
  gap: 30px;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu:last-child > ul.mega-sub-menu {
  left: unset;
  right: 0;
}
#mega-menu-wrap-primary #mega-menu-primary > li > .mega-sub-menu .menu {
  list-style: none;
  padding: 0;
}
#mega-menu-wrap-primary #mega-menu-primary > li > .mega-sub-menu .menu li:not(:last-child) {
  margin-bottom: 5px;
}
#mega-menu-wrap-primary #mega-menu-primary > li > .mega-sub-menu .menu li a {
  font-size: 18px;
  line-height: 35px;
  color: var(--pink);
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > ul.mega-sub-menu {
    box-shadow: 0 4px 60px 20px rgba(13, 116, 177, 0.20);
    margin-top: 20px;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:not(:last-child) {
  margin-right: 30px
}
.main-menu .navbar-nav a, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
  color: var(--black);
  text-decoration: none;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link, .submenu-menu-col .mega-block-title {
  font-weight: 500 !important;
}
#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator {
  display: none;
}
.submenu-main-heading .mega-menu-item {
  padding: 0 !important;
}
#mega-menu-wrap-primary #mega-menu-primary .mega-sub-menu li.mega-menu-column.two-col-submenu-cta {
  padding-left: 45px;
}
#mega-menu-wrap-primary #mega-menu-primary .mega-sub-menu .two-col-mega-submenu .menu {
    column-count: 2;
    column-gap: 15px;
}
.mega-submenu-cta {
  text-align: center;
  border-radius: 20px;
  background-color: rgba(76, 87, 230, 0.05);
  padding: 25px 15px 30px;
}
.mega-submenu-cta h4 {
  font-size: 18px;
  line-height: 26px;
  margin-top: 10px;
}
.mega-submenu-cta a {
  background-color: var(--indigo-blue);
  color: var(--white);
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  padding: 11px 18px;
  display: block;
  max-width: 210px;
  margin: 0 auto;
  text-decoration: none;
}
.mega-submenu-cta a:hover, .mega-submenu-cta.cyan-blue-cta a:hover {
  background-color: var(--pink);
}
.mega-submenu-cta.cyan-blue-cta a {
  background-color: var(--cyan-blue);
}
.mega-submenu-cta.cyan-blue-cta {
  background-color: rgba(43, 161, 198, 0.10);
}
.submenu-main-heading a {
  color: var(--blue);
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
}
.submenu-main-heading a:hover {
  color: var(--pink);
}
.submenu-menu-col > .mega-sub-menu > .mega-menu-column:not(:last-child) {
  padding-right: 20px !important;
}
.submenu-menu-col > .mega-sub-menu > .mega-menu-column .mega-sub-menu .mega-menu-item:not(:last-child) {
  padding-bottom: 25px !important;
}
.submenu-menu-col > .mega-sub-menu > .mega-menu-column.mega-submenu-cta-col .mega-sub-menu .mega-menu-item:not(:last-child) {
  padding-bottom: 36px !important;
}
.submenu-menu-col > .mega-sub-menu > .mega-menu-column .mega-sub-menu .mega-menu-item .textwidget :last-child {
  margin-bottom: 0 !important;
}
.submenu-menu-col .mega-block-title {
  line-height: 35px !important;
}
.main-menu .mega-menu-item > a {
  border-bottom: 3px solid transparent;
}
.main-menu .mega-current-menu-item > a, .main-menu .mega-menu-item > a:hover {
  border-color: var(--blue);
}
.top-header-button {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  background-color: var(--blue);
  color: var(--white);
  padding: 19px 23px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
.top-header-button:hover {
  background-color: var(--pink);
  color: var(--white);
}
.search-button a {
  border-radius: 0 11.466px 11.466px 11.466px;
  background-color: var(--pink);
  height: 62px;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary-bar {
  background-image: url(../images/header-border.svg);
  background-repeat: repeat-x;
  background-position: left bottom;
  padding-bottom: 32px;
}

/* Footer */
.site-footer {
  padding: 32px 0 80px;
}
.footer-white-button, .small-white-button {
  display: inline-block;
  border-radius: 10px;
  border: 1px solid #B6B6B6;
  background-color: var(--white);
  color: var(--gray);
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}
.footer-white-button:hover, .small-white-button:hover {
  background-color: var(--pink);
  color: var(--white);
  border-color: var(--pink);
}
.footer-white-button {
  padding: 6px 20px;
  font-size: 18px;
  line-height: 45px;
}
.small-white-button {
  padding: 10px;
  font-size: 16px;
  line-height: 18px;
}
.footer-copyright-menu li a, .footer-menu a {
  color: var(--white);
  font-size: 17px;
  text-decoration: underline;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  line-height: 35px;
}
.footer-copyright-menu li a:hover, .footer-menu a:hover {
  text-decoration: none;
}
.footer-menu li {
  margin-bottom: 5px;
}
.footer-logo img {
  max-width: 328px;
  margin: 0 auto;
  width: 100%;
}
.copyright-block {
  padding-top: 42px;
}
.footer-social-icons i {
    font-size: 30px;
}
.footer-social-icons i.fa-facebook-f {
    font-size: 24px;
}


/*Stylized Heading and Intro Zone*/

.stylized-heading {
  font-size: 58px;
  line-height: 1.5;
  transform: rotate(-3.008deg);
}
.stylized-heading-intro-zone.layered-image-zone .intro-img-col:before {
  content: "";
  background-image: url(../images/flowers.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  position: absolute;
  top: 85px;
  left: 4px;
  width: 100%;
  height: 400px;
  z-index: 1;
}
.stylized-heading-intro-zone.image-media-column, .stylized-heading-intro-zone.video-media-column, .stylized-heading-intro-zone.with-sidebar-submenu {
  padding-top: 30px;
  padding-bottom: 30px;
}
.stylized-heading-intro-zone.image-media-column .intro-img-col img {
  border-radius: 20px 0;
}

.bg-water-color {
  position: relative;
  z-index: 1;
}
.bg-water-color:after {
  content: "";
  height: 257px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.bg-water-color.bg-pink-water-color:after {
  background: radial-gradient(50% 50% at 35.86% 50.31%, rgba(249, 211, 221, 0.60) 0%, rgba(250, 216, 225, 0.65) 0.01%, #FEFEFE 71.63%);
}
.bg-water-color.bg-yellow-water-color:after {
  background: radial-gradient(50% 50% at 35.86% 50.31%, rgba(249, 211, 221, 0.36) 0%, rgba(255, 202, 74, 0.30) 0.01%, rgba(254, 254, 254, 0.60) 71.63%);
}
.bg-water-color.bg-blue-water-color:after {
  background: radial-gradient(50% 50% at 35.86% 50.31%, rgba(43, 161, 198, 0.40) 0%, rgba(43, 161, 198, 0.45) 0.01%, rgba(254, 254, 254, 0.70) 71.63%);
}


/****************************
****** Sidebar Submenu ******
****************************/

.sidebar-submenu-block {
  border-radius: 20px;
  background: rgba(159, 153, 246, 0.10);
  padding: 45px 35px 55px;
}
.sidebar-submenu-block li {
  line-height: 45px;
}

/**********************
****** Video Box ******
**********************/
.video-image {
  background-repeat: no-repeat;
  background-color: rgb(0 0 0 / 15%);
  background-blend-mode: overlay;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}
.play-icon {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  cursor: pointer;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-icon img {
  width: 48px;
}
.video-box {
    display: inline-block;
    position: relative;
    width: 100%;
}
.wysiwyg-content .video-box {
  margin: 15px auto;
}
.video-box.align-left {
    float: left;
    margin-right: 15px;
}
.video-box.align-right {
    float: right;
    margin-left: 15px;
}
.video-box.align-center {
    display: block;
    clear: both;
    margin: 0 auto;
}
.video-wrapper, .video-wrapper iframe {
  max-width: 100%;
}
.video-wrapper {
  height: 345px;
}

/*********************
*** Wysiwyg Events ***
*********************/

.wysiwyg-event-list img {
  border-radius: 20px 0;
  border: 1px solid #B6B6B6;
}
.wysiwyg-event-list .event-title a {
  font-size: 18px;
  line-height: 22px;
  color: var(--blue);
}
.event-button {
  font-size: 16px;
  line-height: 18px;
  padding: 10px 20px;
  margin-top: 10px;
  font-family: "Lexend", sans-serif;
}
.wysiwyg-event-content-col *, .bg-gradient-yellow .wysiwyg-event-content-col *, 
.bg-gradient-yellow .wysiwyg-event-list .event-title a {
  color: var(--black);
}
.bg-blue .wysiwyg-event-content-col *, .bg-purple .wysiwyg-event-content-col *,
.bg-blue .wysiwyg-event-list .event-title a, .bg-purple .wysiwyg-event-list .event-title a {
  color: var(--white);
}
.bg-teal .wysiwyg-event-content-col *, .bg-light-blue .wysiwyg-event-content-col *,
.bg-teal .wysiwyg-event-list .event-title a, .bg-light-blue .wysiwyg-event-list .event-title a,
.bg-light-yellow .wysiwyg-event-list .event-title a {
  color: var(--black-100);
}

/***************************
*** Wysiwyg Testimonials ***
***************************/
.wysiwyg-testimonial *, .bg-light-blue .wysiwyg-testimonial *, .bg-gradient-yellow .wysiwyg-testimonial * {
  color: var(--black);
}
.bg-blue .wysiwyg-testimonial *, .bg-purple .wysiwyg-testimonial * {
  color: var(--light-yellow);
}
.bg-teal .wysiwyg-testimonial * {
  color: var(--white);
}


/***********************
*** Wysiwyg Gallery ***
**********************/

.wysiwyg-gallery {
  padding: 0 37px;
}
.wysiwyg-gallery .slick-slide {
  margin-right: 16px;
}
.wysiwyg-gallery .slick-list {
  margin-right: -16px; 
}


/*********************
*** Custom Columns ***
*********************/
.meet-team-block.bg-blue {
  background-color: color-mix(in srgb, var(--blue) 50%, transparent);
}
.meet-team-block.bg-light-blue {
  background-color: color-mix(in srgb, var(--light-blue) 50%, transparent);
}
.meet-team-block.bg-teal {
  background-color: color-mix(in srgb, var(--teal) 50%, transparent);
}
.meet-team-block.bg-purple {
  background-color: color-mix(in srgb, var(--purple) 50%, transparent);
}
.custom-columns-zone {
  padding-top: 30px;
  padding-bottom: 30px;
}
.custom-columns-zone.bg-water-color {
  overflow: hidden;
}
.meet-team-block {
  border-radius: 20px;
  /* background: rgba(248, 230, 235, 0.50); */
  padding: 55px 30px;
}
.meet-team-slider .slick-arrow {
  color: var(--pink);
  top: -75px;
  bottom: unset;
  z-index: 1;
}
.meet-team-slider .slick-prev:before, .meet-team-slider .slick-next:before {
  font-family: "Font Awesome 6 Sharp";
  font-weight: 400;
}
.meet-team-slider .slick-arrow.slick-prev {
  right: 40px;
  left: unset;
}
.meet-team-slider .slick-arrow.slick-next {
  right: 0;
}
.meet-team-slider .team-content-col {
  padding-right: 20px;
  padding-left: 20px;
}
.meet-team-slider .team-img-col img {
  border-radius: 0 20px;
}
.meet-team-button {
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--pink);
  border-radius: 10px;
  padding: 10px 18px;
  margin-top: 20px;
}
.meet-team-button:hover {
  background-color: var(--black-100);
  color: var(--white);
}

.with-embellishment {
  position: relative;
}
.with-embellishment:after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -70px;
  width: 110px;
  height: 132px;
}
.with-embellishment.seeds-embellishment:after {
  background-image: url(../images/embellishments/seeds.svg);
}
.with-embellishment.circles-embellishment:after {
  background-image: url(../images/embellishments/circles.svg);
}
.with-embellishment.seeds-open-embellishment:after {
  background-image: url(../images/embellishments/seeds-open.svg);
}
.with-embellishment.seeds-open-large-embellishment:after {
  background-image: url(../images/embellishments/seeds-open-large.svg);
}
.with-embellishment.squiggles-embellishment:after {
  background-image: url(../images/embellishments/squiggles.svg);
}
.with-embellishment.xs-embellishment:after {
  background-image: url(../images/embellishments/Xs.svg);
}
.with-embellishment.left-align-embellishment:after {
  left: -20px;
}
.with-embellishment.right-align-embellishment:after {
  right: -35px;
  bottom: -40px;
}
.custom-columns-zone.custom-column-one.bg-water-color:after {
  right: unset;
  left: 10%;
}
/* .icon-slide-box svg {
  width: 65px;
  height: 65px;
} */
.icons-slider, .image-gallery-slider {
  padding-right: 30px;
  padding-left: 30px;
}
.custom-col-with-top-header-image img {
  border: 1px solid #B6B6B6;
}
.bg-purple .heading-with-icon svg, .bg-purple .heading-with-icon svg path,
.bg-blue .heading-with-icon svg, .bg-blue .heading-with-icon svg path {
  fill: var(--white);
}
.custom-columns-zone .wysiwyg-content img:not(.img-fluid) {
  max-width: 100%;
  height: auto;
  border-radius: 20px 0;
}
.accordion-content {
  line-height: 30px;
}
.bg-teal .accordion-block .site-button {
  background-color: var(--black-100);
  color: var(--white);
}
.bg-teal .accordion-block .site-button:hover {
  background-color: var(--pink);
  color: var(--white);
}
.accordion-block .accordion-header .accordion-button {
  background-color: var(--yellow);
  box-shadow: none;
  border: 0;
  border-radius: 10px;
  color: var(--black);
}
.accordion-block .accordion-item {
  background-color: transparent;
  border: 0;
  margin-bottom: 10px;
}
.accordion-block .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed, 
.accordion-block .accordion-item:first-of-type>.accordion-header .accordion-button {
  border-radius: 10px;
}
.accordion-block .accordion-body {
  padding: 26px 0 16px;
}
.accordion-block .accordion-button:after {
  content: "\f0ab";
  background-image: none;
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  line-height: 1.2;
  color: var(--black-100);
  font-size: 27px;
  width: 27px;
  height: 27px;
}
.accordion-button:not(.collapsed)::after {
  content: "\f0aa";
  transform: none;
}
.push-heading {
  font-size: 22px;
  line-height: 22px;
}
.push-info {
  background-color: var(--white);
  filter: drop-shadow(10px 10px 0 var(--yellow));
}
.push-button {
  background-color: #E73E50;
  color: var(--white);
  font-size: 16px;
  line-height: 33px;
  font-weight: 700;
  border-radius: 10px;
  padding: 5px 36px;
  display: inline-block;
  text-decoration: none;
}
.push-button:hover {
  background-color: var(--blue);
  color: var(--white);
}
.cta-info {
  border-radius: 20px;
  padding: 40px 30px;
}
section:not(.split-column-zone) .cta-info {
  background: rgba(76, 87, 230, 0.05);
}
.cta-info .site-button {
  border: 1px solid #B6B6B6;
}

.my-7 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.angle_down_left{
  clip-path: polygon(0 -50%, 100% -50%, 100% 99%, 0% 100%);
}
.angle_down_right{
    clip-path: polygon(0 -50%, 100% -50%, 100% 100%, 0% 98%);
}
.angle_down_right:before{
  transform: scaleX(-1);
}
.border-angle:before{
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  width: 100%;
  top: -48px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 52px;
  background-position: right;
}
.border-angle.bg-blue:before{
  background-image: url(../images/edge_blue.svg);
}
.border-angle.bg-light-blue:before{
  background-image: url(../images/edge_light_blue.svg);
}
.border-angle.bg-purple:before{
  background-image: url(../images/edge_purple.svg);
}
.border-angle.bg-teal:before{
  background-image: url(../images/edge_teal.svg);
}
.border-angle.bg-yellow:before{
  background-image: url(../images/edge_yellow.svg);
}

.bg-pattern {
  position: relative;
  z-index: 1;
  background-size: 250px;
  background-position: 100% 70%;
  background-repeat: no-repeat;
}
.custom-column-two.with-media.with-video-media .video-wrapper, .custom-column-two.with-media.with-video-media .video-wrapper iframe {
  height: 345px !important;
}
.image-box {
  width: max-content;
  max-width: 100%;
}
.custom-columns-zone .image-box img {
  border-radius: 0 20px;
}


/*********************
*** Split Columns ***
*********************/
.split-column-zone {
  padding-top: 40px;
  padding-bottom: 40px;
}
.split-column-zone .image-box img {
  border-radius: 20px 0;
}
.top-content-block .bg-blue {
  background-color: color-mix(in srgb, var(--blue) 5%, transparent);
}
.top-content-block .bg-light-blue {
  background-color: color-mix(in srgb, var(--light-blue) 10%, transparent);
}
.top-content-block .bg-teal {
  background-color: color-mix(in srgb, var(--teal) 10%, transparent);
}
.top-content-block .bg-purple {
  background-color: color-mix(in srgb, var(--purple) 5%, transparent);
}
.split-column-zone .cta-block .site-button, .split-column-zone .top-standard-content .site-button {
  background-color: var(--purple);
  color: var(--white);
}
.split-column-zone .cta-block .site-button:hover, .split-column-zone .top-standard-content .site-button:hover {
  background-color: var(--gray);
  color: var(--white);
}
.split-column-zone .top-standard-content:not(.bg-white) {
  padding: 30px 20px;
  border-radius: 20px;
}

/***********************
*** Text Column Grid ***
***********************/

.text-column-grid-zone {
  padding-top: 50px;
  padding-bottom: 50px;
}
.text-column-grid-zone .row {
  --bs-gutter-y: 45px;
}

/* Media Queries  */
@media only screen and (max-width: 991px) {
  body {
    font-size: 17px;
    line-height: 35px;
  }
  .alignright, .alignleft, .video-box.align-left, .video-box.align-right {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .site-header {
    padding: 22px 6px 0;
  }
  .site-header:before {
    right: unset;
    left: 80%;
    top: -78%;
    z-index: -1;
    width: 175.243px;
    height: 522.478px;
    transform: rotate(-86.949deg);
  }
  .primary-bar {
    padding-bottom: 36px;
  }
  .navbar-brand img {
    max-width: 298px;
  }
  #navbarSupportedContent {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: var(--white);
    overflow-y: auto;
    transition: all 0.5s ease-in-out;
    padding: 52px 18px 90px;
    display: block !important;
    opacity: 0;
    visibility: hidden;
  }
  #navbarSupportedContent.show {
    opacity: 1;
    visibility: visible;
  }
  .navbar-toggler {
    border: 0;
    outline: 0;
    padding: 0;
  }
  .navbar-toggler, .navbar-toggler:focus {
    box-shadow: unset;
  }
  .close-button {
    position: absolute;
    right: 0;
    bottom: 40px;
  }
  .menu-text {
    font-size: 15px;
    line-height: 18px;
  }
  .main-menu {
    padding: 0;
  }
  .main-menu .navbar-nav, .top-menu {
    padding: 0 6px 0 14px;
  }
  .mobile-top-menu {
    background-repeat: repeat-x;
    background-position: left bottom;
    padding: 0 0 42px;
    margin-bottom: 42px;
  }
  .primary-bar, .mobile-top-menu {
    background-image: url(../images/mobile-top-menu-bg.svg);
  }
  .navbar-nav .menu-item-has-children ul.sub-menu {
    padding: 25px 17px 25px 48px;
    display: none;
    list-style: none;
    margin: 0;
    background-color: #F8F8F8;
    width: 100vw;
    margin-left: -32px;
    margin-top: 10px;
  }
  .navbar-nav .menu-item-has-children ul.sub-menu .menu-item a {
    color: var(--pink);
    font-size: 18px;
    line-height: 35px;
    font-weight: 500;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
  .navbar-nav .menu-item-has-children ul.sub-menu .menu-item a:hover {
    text-decoration: none;
  }
  .navbar-nav .menu-item-has-children ul.sub-menu .menu-item:not(:last-child) {
    margin-bottom: 19px;
  }
  .navbar-nav > .menu-item {
    position: relative;
    border-bottom: 1px solid #F1F1F1;
    padding: 20px 45px 10px 0;
  }
  .navbar-nav > .menu-item.menu-open {
    border: none;
  }
  .navbar-nav .menu-item-has-children:after {
    content: "";
    background-image: url(../images/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 17px;
    position: absolute;
    right: 15px;
    top: 18px;
    width: 17px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
  }
  .navbar-nav .menu-item-has-children.menu-open:after {
    transform: rotate(-180deg);
  }
  .top-menu a {
    color: #707070;
    font-weight: 500;
  }
  .top-menu li:not(:last-child) {
    margin-bottom: 32px;
  }
  .site-footer {
    padding: 65px 18px 120px;
  }
  .footer-menu {
    text-align: center;
  }
  .footer-menu li:not(:last-child), .footer-copyright-menu li:not(:last-child) {
    margin-bottom: 10px;
  }
  main section {
    padding-right: 8px;
    padding-left: 8px;
  }
  .wysiwyg-button {
    font-size: 17px;
    line-height: 44px;
    padding: 7px 35px;
  }
  .stylized-heading-intro-zone.layered-image-zone .intro-content-col {
    padding-top: 55px;
  }
  .stylized-heading-intro-zone.layered-image-zone .intro-img-col:before {
    top: 70px;
    left: -22px;
    height: 290px;
  }
  .stylized-heading-intro-zone.layered-image-zone .intro-img-col {
    text-align: center;
    max-width: max-content;
    margin: 0 auto;
    padding: 0 28px 0 40px;
  }
  .stylized-heading-intro-zone.layered-image-zone .intro-img-col img {
    max-width: 362px;
    margin: -20px auto 0;
  }
  .stylized-heading-intro-zone:not(.layered-image-zone) .stylized-heading {
    font-size: 42px;
  }
  
  .with-embellishment:after {
    width: 80px;
    height: 70px;
  }
  .with-embellishment.left-align-embellishment:after {
    bottom: -20px;
  }
  .with-embellishment.right-align-embellishment:after {
    right: -40px;
    bottom: -30px;
  }
  .push-content-col {
    margin-top: 30px;
  }
  .my-7 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .accordions-info-col {
      order: 1;
  }
  .accordion-content-col {
    order: 2;
    margin-bottom: 30px;
  }
  /* .border-angle:before {
    top: -12px;
    height: 13px;
  } */
  .slick-slider .slick-prev:before, .slick-slider .slick-next:before{
    font-size: 25px;
  }
  .meet-team-slider .slick-arrow {
    top: -95px;
  }
  .custom-columns-zone.border-angle {
    padding-bottom: 50px;
  }
} 
@media only screen and (max-width: 429px) {
  .wysiwyg-button, .site-button {
    font-size: 14px;
  }
  .stylized-heading-intro-zone.layered-image-zone .intro-img-col:before {
    top: 40px;
    left: -20px;
    height: 260px;
  }
  .stylized-heading-intro-zone.layered-image-zone .intro-img-col img {
    max-width: 100%;
  }
  .stylized-heading-intro-zone:not(.layered-image-zone) .stylized-heading {
    font-size: 35px;
  }
  .icon-slide-box {
    line-height: 24px;
  }

}
@media only screen and (min-width: 992px) {
  .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
  }
  .alignright {
    padding-left: 45px;
  }
  .alignleft {
    padding-right: 45px;
  }
  img.alignright {
      margin-left: 10px;
  }
  img.alignleft {
      margin-right: 10px;
  }
  h3, .font-xm {
    font-size: 24px;
    line-height: 35px;
  }
  h5, .font-xs-medium {
    font-size: 18px;
    line-height: 35px;
  }
  .wysiwyg-button, .site-button {
    font-size: 18px;
    line-height: 45px;
    padding: 7px 30px;
  }
  .footer-post-col .font-normal {
    font-size: 14px;
    line-height: 22px;
  }
  .main-menu {
    background-image: url(../images/header-border.svg);
    background-repeat: repeat-x;
    background-position: left bottom;
    padding: 26px 0 28px;
  }
  .top-menu {
    gap: 20px;
  }
  .top-menu a {
    color: var(--black);
    font-size: 16px;
    line-height: 24px;
  }
  .top-header-button {
    padding: 14px 24px;
    font-size: 16px;
    line-height: 16px;
  }
  .search-button a {
    height: 52px;
    width: 62px;
  }
  .main-menu .navbar-nav a, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    font-size: 16px;
    line-height: 24px;
  }
  .main-menu {
    padding: 22px 0 28px;
  }
  .footer-menu {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 20px;
  }
  .footer-menu li:nth-child(odd) {
    padding-left: 50px;
  }
  .footer-white-button {
    padding: 4px 16px;
    font-size: 12px;
    line-height: 32px;
  }
  .footer-logo img {
    max-width: 250px;
  }
  .footer-copyright-menu li a, .footer-menu a {
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
  }
  .footer-copyright-menu li a:hover, .footer-menu a:hover {
    text-decoration: underline;
  }
  .small-white-button {
    font-size: 14px;
    line-height: 16px;
  }
  .copyright-block {
    padding-top: 42px;
    margin-top: 32px;
    border-top: 2px solid var(--dark-blue);
  }
  
  .stylized-heading-intro-zone.layered-image-zone .intro-content-col {
    padding-top: 60px;
  }
  .stylized-heading {
    font-size: 80px;
  }
  .stylized-heading-intro-zone.layered-image-zone .intro-img-col img {
    position: relative;
    margin-top: -22px;
  }
  .stylized-heading-intro-zone .with-background-pattern:before {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    width: 300px;
    height: 250px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: 0.5;
  }
  .stylized-heading-intro-zone .with-background-pattern.dots-background-pattern:before {
    background-image: url(../images/bg-patterns/dots.svg);
  }
  .stylized-heading-intro-zone .with-background-pattern.circles-background-pattern:before {
    background-image: url(../images/bg-patterns/circles.svg);
  }
  .stylized-heading-intro-zone .with-background-pattern.honeycomb-background-pattern:before {
    background-image: url(../images/bg-patterns/honeycomb.svg);
  }
  .stylized-heading-intro-zone .with-background-pattern.sprinkles-background-pattern:before {
    background-image: url(../images/bg-patterns/sprinkles.svg);
  }
  .stylized-heading-intro-zone.layered-image-zone .with-background-pattern:before {
    right: -50px;
    top: 75px;
  }
  .stylized-heading-intro-zone.layered-image-zone .intro-img-col:before {
    top: 62px;
    left: -38px;
    height: 300px;
  }
  .stylized-heading-intro-zone.layered-image-zone .intro-img-col {
    padding-left: 30px;
  }
  .sidebar-submenu-col {
    padding-left: 55px;
  }
  .stylized-heading-intro-zone.image-media-column.with-sidebar-submenu .intro-img-col img {
    position: relative;
    right: -40px;
  }
  
  .bg-water-color:after {
    height: 442px;
    width: 100%;
  }
  .wysiwyg-testimonial-content {
    position: relative;
  }
  .wysiwyg-testimonial-content, .wysiwyg-testimonial-content * {
    display: inline;
  }
  .wysiwyg-testimonial-content:before, .wysiwyg-testimonial-content:after {
      font-family: "Lexend", sans-serif;
      position: absolute;
      width: 20px;
      height: 20px;
      display: block;
      font-size:50px;
      line-height: 35px;
      font-weight: 700;
  }
  .wysiwyg-testimonial-content:after {
      content: "”";
      right: -40px;
      bottom: 0;
  }
  .wysiwyg-testimonial-content:before {
      content: "“";
      left: -40px;
      top: 3px;
  }
  .wysiwyg-testimonial-block {
    padding: 0 35px;
  }
  .with-embellishment.circles-embellishment.left-align-embellishment:after {
    left: -30px;
    bottom: -32px;
  }
  .special-content-right-align .accordion-content-col, .special-content-right-align .push-content-col {
    padding-right: 60px;
  }
  .special-content-left-align .accordion-content-col, .special-content-left-align .push-content-col {
    padding-left: 60px;
  }
  .cta-info {
    padding: 45px 60px 100px;
  }
  .push-info .video-wrapper {
    height: 230px;
  }
  .bg-pattern {
    background-image: var(--svg-bg);
  }
  .meet-team-block {
    padding: 55px 30px 55px 40px;
  }
  .angle_down_left{
    clip-path: polygon(0 -50%, 100% -50%, 100% 98%, 0% 100%);
  }
  .custom-columns-zone {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .meet-team-button {
    font-size: 14px;
    line-height: 18px;
  }
  
  .text-column-grid-zone {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .text-column-grid-zone .row {
    --bs-gutter-x: 3.5rem;
    --bs-gutter-y: 100px;
  }
  .text-column-grid-zone .site-button {
    position: absolute;
    bottom: 0;
    left: 28px;
    right: 28px;
    max-width: 100%;
    width: max-content;
    margin: 0 auto;
  }
  .text-column-grid-block {
    padding-bottom: 80px;
  }
  .text-column-grid-zone.bg-water-color:after {
    width: 438px;
    height: 1054px;
    transform: rotate(-86.949deg);
    right: unset;
    left: 0;
    bottom: unset;
    top: -15%;
  }
  
  .split-column-zone .with-embellishment:after {
    bottom: 50px;
    height: 100px;
    width: 118px;
  }
  .split-column-zone .with-embellishment.right-align-embellishment:after {
    right: -75px;
  }
  .split-column-zone .with-embellishment.left-align-embellishment:after {
    left: -75px;
  }
  .split-column-zone {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .split-column-zone .top-standard-content:not(.bg-white) {
    padding: 50px 30px;
  }
}
@media only screen and (min-width: 1200px) {
  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu {
    max-width: max-content;
    min-width: 990px;
  }
  .top-menu {
    gap: 30px;
  }
  .top-menu a {
    font-size: 20px;
    line-height: 29px;
  }
  .top-header-button {
    padding: 19px 23px;
    font-size: 20px;
    line-height: 20px;
  }
  .search-button a {
    height: 62px;
    width: 72px;
  }
  .main-menu .navbar-nav a, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    font-size: 20px;
    line-height: 30px;
  }
  .stylized-heading-intro-zone.layered-image-zone .intro-img-col:before {
    left: -55px;
  }
  .stylized-heading-intro-zone.layered-image-zone .intro-img-col {
    padding-left: 12px;
  }
  .footer-menu {
    padding: 0 30px;
  }
  .meet-team-info-col {
    padding-right: 40px;
  }
  .custom-columns-zone{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .custom-columns-zone.border-angle {
    padding-bottom: 100px;
    padding-top: 60px;
  }
  .angle_down_left{
    clip-path: polygon(0 -50%, 100% -50%, 100% 95%, 0% 100%);
  }
  .angle_down_right{
    clip-path: polygon(0 -50%, 100% -50%, 100% 100%, 0% 95%);
  }
  .border-angle:before {
    top: -56px;
    height: 8vw;
    min-height: 40px;
    max-height: 62px;
  }
  .with-embellishment.left-align-embellishment:after {
    left: -40px;
  }
  .with-embellishment.circles-embellishment.left-align-embellishment:after {
    left: -80px;
  }
  .with-embellishment.right-align-embellishment:after {
    right: -50px;
  }
  .meet-team-block.with-embellishment.left-align-embellishment:after {
    left: -16px;
  }
}
@media only screen and (min-width: 1250px) {
  .main-menu {
    padding: 26px 0 28px;
  }
  .main-menu .navbar-nav {
    gap: 35px;
  }
  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:not(:last-child) {
    margin-right: 35px
  }
  .footer-menu {
    padding: 0 50px;
  }
  .stylized-heading-intro-zone.layered-image-zone .intro-img-col:before {
    top: 70px;
  }
  .stylized-heading-intro-zone .with-background-pattern:before {
    width: 422px;
    height: 350px;
  }
  .stylized-heading-intro-zone.layered-image-zone .intro-content-col {
    padding-top: 100px;
  }
  .meet-team-button {
    padding: 10px 20px;
  }
  .meet-team-slider .team-content-col {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media only screen and (min-width: 1300px) {
  .container-fluid {
    padding-right: 60px;
    padding-left: 60px;
  }
  h1, .font-xl {
    font-size: 40px;
    line-height: 45px;
  }
  h2, .font-medium {
    font-size: 30px;
    line-height: 45px;
  }
  h4, .font-regular {
    font-size: 20px;
    line-height: 35px;
  }
  .main-menu .navbar-nav {
    gap: 42px;
  }
  .site-footer {
    padding: 32px 0 170px;
  }
  .footer-white-button {
    padding: 6px 20px;
    font-size: 16px;
    line-height: 45px;
  }
  .footer-logo img {
    max-width: 328px;
  }
  .stylized-heading {
    font-size: 85px;
  }
  .stylized-heading-intro-zone.layered-image-zone .intro-img-col:before {
    top: 45px;
    left: -86px;
    height: 400px;
  }
  .submenu-menu-col > .mega-sub-menu > .mega-menu-column:not(:last-child) {
    padding-right: 35px !important;
  }
  .mega-submenu-cta a {
    font-size: 17px;
    line-height: 17px;
    padding: 11px 40px;
  }
  .mega-submenu-cta {
    padding: 28px 22px 40px;
  }
  .submenu-main-heading a {
    font-size: 30px;
    line-height: 35px;
  }
  
  .wysiwyg-gallery .slick-slide {
    margin-right: 43px;
  }
  .wysiwyg-gallery .slick-list {
    margin-right: -43px; 
  }
  .with-embellishment:after {
    width: 150px;
    height: 172px;
  }
  .push-heading {
    font-size: 28px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 1400px) {
  .meet-team-button {
    font-size: 16px;
  }
  .push-info .video-wrapper {
    height: 362px;
  }
}
@media only screen and (min-width: 1620px) {
  .main-menu .navbar-nav a, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    font-size: 24px;
    line-height: 36px;
  }
  .footer-white-button {
    padding: 6px 25px;
    font-size: 18px;
  }
  .stylized-heading-intro-zone.layered-image-zone .intro-img-col:before {
    top: 90px;
    left: -77px;
  }
  .sidebar-submenu-col {
    padding-left: 80px;
  }
  .sidebar-submenu-block {
    padding: 55px 55px 70px;
  }
  .footer-menu {
    padding: 0 80px;
  }
  
  .stylized-heading {
    font-size: 103px;
  }
  .meet-team-button {
    margin-right: 20px;
  }
  .meet-team-slider .team-content-col {
    padding-right: 50px;
  }
}
@media only screen and (min-width: 1900px) {
  .footer-post-col .font-normal {
    font-size: 16px;
    line-height: 24px;
  }
  .main-menu .navbar-nav {
    gap: 70px;
  }
  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item:not(:last-child) {
    margin-right: 80px
  } 
  /* .footer-bottom-mid-col {
    padding-left: 50px;
  } */
  .footer-copyright-menu li a, .footer-menu a {
    font-size: 16px;
  }
  .footer-menu a {
    line-height: 30px;
  }
  .footer-copyright-menu a {
    line-height: 24px;
  }
  .footer-menu {
    /* padding: 0 110px; */
    padding: 0 125px;
  }
  .footer-logo img {
    max-width: 375px;
  }
  .small-white-button {
    font-size: 16px;
    line-height: 18px;
  }
  .site-header:before {
    right: 10%;
    top: -130%;
  }
  
  .stylized-heading-intro-zone.layered-image-zone .intro-content-col {
    padding-right: 115px;
  }
  .stylized-heading-intro-zone.layered-image-zone .intro-img-col:before {
    top: 118px;
    left: -92px;
    height: 475px;
  }
  .meet-team-block {
    padding: 65px 30px 65px 90px;
  }
  .meet-team-slider .team-img-col {
    padding-right: 20px;
  }
  .meet-team-slider .team-content-col {
    padding-right: 80px;
  }
  .meet-team-info-col {
    padding-right: 120px;
  }
  .custom-columns-content-col .wysiwyg-content {
    padding-right: 145px;
  }
  .custom-columns-content-col {
    padding-left: 34px;
  }
}
@media only screen and (min-width: 1920px) {
  .container-fluid {
    max-width: 1800px;
    margin: 0 auto;
  }
  .border-angle:before {
    top: -90px;
    max-height: 120px;
  }
}
@media only screen and (min-width: 2200px) {
  .stylized-heading-intro-zone.layered-image-zone .intro-img-col:before {
    top: 175px;
    left: -82px;
  }
  .mega-submenu-cta h4 {
    font-size: 20px;
    line-height: 45px;
  }
  .stylized-heading-intro-zone.image-with-embellishment .intro-img-col img {
    right: -80px;
  }
  .stylized-heading-intro-zone.image-with-embellishment .intro-img-col:before {
    top: 182px;
    left: 85px;
    width: 170px;
    height: 448px;
  }
}
@media only screen and (min-width: 2560px) {
  .container-fluid {
    max-width: 2400px;
    margin: 0 auto;
  }
}