:root {

  --grey: #6e6e72;
  --black: #000000;
  --black-100: #3E3E3E;
  --white: #fff;
  --sky-blue: #007154;
  --green: #3f3e40;
  --grey-100: #f8faf6;
 --grey-200: #57585b;
  --grey-300: #3f3e40;
   --grey-400: #6e6e72;
  --dark-red: #670400;
}
body {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--black);
  font-family: "Baskervville", serif;
}

/* colors */

.text-grey {
  color: var(--grey);
}

.text-sky-blue {
  color: var(--sky-blue);
}

.text-grey-100{
  color: var(--grey-100):
}


.text-grey-200{
  color: var(--grey-200):
}


.text-grey-300{
  color: var(--grey-300):
}
.text-grey-400{
  color: var(--grey-400):
}
.text-green {
  color: var(--green);
}


.text-dark-red {
  color: var(--dark-red);
}

.bg-dark-red{
  background-color: var(--dark-red);
}

/* Global fonts  */

.font-baskervville{
  font-family: "Baskervville", serif;
}

h1, .font-xl {
  font-size: 70px;
  line-height: 75px;
}


header{
  background:red;
}


/* Media Queries  */
@media only screen and (max-width: 991px) {
    h1, .font-xl {
    font-size: 30px;
    line-height: 35px;
  }
  
  
  
  
 /* side nav  */
   .navbar{
    float:right;
  }
 
  #main {
    position: relative;
    right: 0;
    transition: right 0.5s linear;
  }
  #main.show {
    right: 80%;
  }
  .side-nav {
    height: 100%;
    width: 80%;
    position: fixed;
    top: 0;
    right: -80%;
 transition: right 0.5s linear;
  }
 
  .side-nav.show {
    right: 0;
  }
 /* classes for the offcanvas menu  */
  #main.show .fa-bars {
    display: none !important;
  }
  #main.show .fa-xmark {
    display: block !important;
  }
 
  /* side-nav ends  */
  /* button#close-btn {
    position: absolute;
    top: 45px;
  }
  */
 
}